<html lang="en">
<%- include('./partials/head.ejs',{partialHead}) %>

<body>
  <!-- Incluyo partial header-->
  <%- include('./partials/header.ejs') %>
  <main>
    <section class='buttons'>
      <% botones.forEach(boton => { %>
      <div class='button-space'>
        <div name="button" class='button' id='<%= boton.id %>' value='<%= boton.audio %> '>
          <h3><%= boton.titulo %></h3>
          <audio class='audios' id="<%= boton.id %>" src='<%= boton.audio %>' autoPlay muted>
          </audio>
        </div>
      </div>
      <% }) %>
      </div>
      <div class='titan'>
        <img class='el-titan' src='/images/body/el_titan.png'>
      </div>
    </section>

  </main>
  <!-- Incluyo partial footer-->
  <%- include('./partials/footer.ejs') %>
  <script>
    window.onload = function() {
      // ***Seleciono todos los audios***
      let misAudios = document.querySelectorAll(".audios");
      // ***Selecciono todos los botones***
      let buttons = document.querySelectorAll('.button');

      let titles = document.querySelectorAll('.button h3');
      // ***Repaso por cada botón***
      buttons.forEach(button => {
        // ***Si se clickea X botón, activa la función***
        button.addEventListener('click', function() {
          // ***Repasa los audios***
          misAudios.forEach(miAudio => {
            // ***Verifica si el id del botón presionado coincide con el id del audio
            if (button.id == miAudio.id) {
              //console.log('Seleccionó el audio ' + miAudio.src);
              let sound = true;
              if (sound) {
                //console.log(titles);
                let title = titles[button.id];
                let aux = title.innerText
                //console.log(title);
                miAudio.volume = 0.7;
                miAudio.muted = false;
                miAudio.play();
                button.classList.add('button-pressed');
                //miAudio.addEventListener('play', function () {
                title.innerText = 'reproduciendo...';
                //console.log('reproduciendo');
                //})

                miAudio.addEventListener('ended', function() {
                  //console.log('Termino de reproducirse');
                  button.classList.remove('button-pressed');
                  title.innerText = aux;
                })
              }
            }
          })
        })
      })
    }
  </script>
  <!-- <script type="text/javascript" src="/js/button.js"></script> -->
</body>

</html>